VITE_SUPABASE_URL=https://xjcyeuvzkhtzsheknaiu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqY3lldXZ6a2h0enNoZWtuYWl1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIwNTI0NDMsImV4cCI6MjA5NzYyODQ0M30.qb097PD2cndWTf7MTInvMdgxJwvNBE4gV_U9qNJIs1E
VITE_LOGODEV_TOKEN=
